
<link rel="stylesheet" href="/css/datepicker.css">


      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
          <div class="card">
          <div class="card-header">
            <h4 class="card-title">Advising Attendance</h4>
          </div>
          <div class="card-body">
  <!-date picker-->
 
    <label>
      <!-- <input data-provide="datepicker" required="required"> -->
      <input type="text" class="dateselect" required="required"/>
      <span>Date</span>
    </label>
    
    <label>
      <input type="text" required="required"/>
      <span>Verification Code</span>
    </label>

     
	<!-end date picker-->

 <!-select your advisor-->
 <!--advisor card-->
 <div class="card-body">
  <div class="places-buttons">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto text-center">
        <h4 class="card-title">
          Select Your advisor
          
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 ml-auto mr-auto">
        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-primary btn-block" onclick="nowuiDashboard.showNotification('top','left')">Advisor 1</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary btn-block" onclick="nowuiDashboard.showNotification('top','center')">Advisor 1</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary btn-block" onclick="nowuiDashboard.showNotification('top','right')">Advisor 1</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 ml-auto mr-auto">
        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-primary btn-block" onclick="nowuiDashboard.showNotification('bottom','left')">Advisor 1</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary btn-block" onclick="nowuiDashboard.showNotification('bottom','center')">Advisor 1</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary btn-block" onclick="nowuiDashboard.showNotification('bottom','right')">Advisor 1</button>
          </div>
          <p class="text-center"></p><button type="submit" class="btn btn-fill btn-primary ">Submit</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
    <!--end advisior card-->

            </div>
          </div>
        </div>


          </div>
          </div>

          </div>
        </div>
      </div>
     
    </div>
   
  </div>
  <script src="/js/datepicker.js"></script>