
<!--compleaed courses--->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
      <!------ CS Course Selection------>
      <div class="row">
      <div class="col-md-12"">
        <div class="card ">
          <div class="card-header ">
          <h5 class="card-category">Select you courses</h5>
          <h4 class="card-title">Computer science core classes</h4>
          </div>
          <div class="card-body ">
            <div class="table-full-width table-responsive">
              <table class="table">
              <thead class=" text-primary">
              <th>
              Selected
              </th>
              <th>
                Course Title
              </th>
              <th>
                Description
              </th>
              <th>
                Semester Date
              </th>

              <th class="text-right">
               Credits 
              </th>
            </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" checked>
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td class="text-left">CSCI 4325 </td>
                    <td class="text-left">Automata </td>
                    <td class="text-left">Fall 2020 </td>
                    <td class="text-right">3.00 </td>
                    
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox">
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    
                    <td class="text-left">CSCI 4325 </td>
                    <td class="text-left">Automata </td>
                    <td class="text-left">Fall 2020 </td>
                    <td class="text-right">3.00 </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" checked>
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td class="text-left">CSCI 4325 </td>
                    <td class="text-left">Automata </td>
                    <td class="text-left">Fall 2020 </td>
                    <td class="text-right">3.00 </td>
                    </td>
                   
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
         
        </div>
      </div>
    </div>
<!---end CS core-->


<!------math Course Selection------>
<div class="row">
<div class="col-md-12">
  <div class="card ">
    <div class="card-header ">
    <h5 class="card-category">Select you courses</h5>
    <h4 class="card-title">Math core classes</h4>
    </div>
    <div class="card-body ">
      <div class="table-full-width table-responsive">
        <table class="table">
        <thead class=" text-primary">
        <th>
        Selected
        </th>
        <th>
          Course Title
        </th>
        <th>
          Description
        </th>
        <th>
          Semester Date
        </th>

        <th class="text-right">
         Credits 
        </th>
      </thead>
          <tbody>
            <tr>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </td>
              <td class="text-left">CSCI 4325 </td>
              <td class="text-left">Automata </td>
              <td class="text-left">Fall 2020 </td>
              <td class="text-right">3.00 </td>
              
            </tr>
            <tr>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </td>
              
              <td class="text-left">CSCI 4325 </td>
              <td class="text-left">Automata </td>
              <td class="text-left">Fall 2020 </td>
              <td class="text-right">3.00 </td>
            </tr>
            <tr>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </td>
              <td class="text-left">CSCI 4325 </td>
              <td class="text-left">Automata </td>
              <td class="text-left">Fall 2020 </td>
              <td class="text-right">3.00 </td>
              </td>
             
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
   
  </div>
</div>
</div>
<!---end MATH core-->
