

      <!-- Compleated Courses -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
          <!--first card-->
          <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Compleated Courses</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              
            <!--Start progress circles-->

<div class="container">
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="progress blue">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">90%</div>
        </div>
        <p class="text-center"><br>
        Major Specific General Education Core
        </p>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="progress blue">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">75%</div>
        </div>
        <p class="text-center">
        <br>
        Core Curriculum UTRGV 2016-2017
        </p>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="progress blue">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">90%</div>
        </div>
        <p class="text-center"><br>
        Major in Computer Science
        </p>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="progress blue">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">50%</div>
        </div>
        <p class="text-center"><br>
        Language Proficiency
        </p>
    </div>
</div>
</div>
            <!--End progress circles-->

            </div>
          </div>
        </div>
          <!--second card-->
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Compleated Courses</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Course Title
                      </th>
                      <th>
                        Description
                      </th>
                      <th>
                        Semester Date
                      </th>
                      <th class="text-right">
                       Credits 
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                        Computer Networks
                        </td>
                        <td>
                          Intro to computer networks
                        </td>
                        <td>
                         07/12/2020
                        </td>
                        <td class="text-right">
                         3.00
                        </td>
                      </tr>
                      <tr>
                      <td>
                      Computer Networks
                      </td>
                      <td>
                        Intro to computer networks
                      </td>
                      <td>
                       07/12/2020
                      </td>
                      <td class="text-right">
                       3.00
                      </td>
                    </tr>
                    <tr>
                    <td>
                    Computer Networks
                    </td>
                    <td>
                      Intro to computer networks
                    </td>
                    <td>
                     07/12/2020
                    </td>
                    <td class="text-right">
                     3.00
                    </td>
                  </tr>
                  <tr>
                  <td>
                  Computer Networks
                  </td>
                  <td>
                    Intro to computer networks
                  </td>
                  <td>
                   07/12/2020
                  </td>
                  <td class="text-right">
                   3.00
                  </td>
                </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
           
          </div>
        </div>

   

      <!--end card-->
    </div>
      
    </div>
  </div>